*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #807d7d;
    padding: 10px;
    border-radius: 10px;
}
.calculator .buttons button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    color: white;
    background: transparent;
    cursor: pointer;
    margin: 10px;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 32px;
    width: 60px;
    height: 60px;
    border: none;
    background: transparent;
    color: #fff;
}



